

     <footer >
        
        <h1>Contact : </h1>
        <address>
            
                <p><strong>Phone Number:</strong><br>07 07 07 07 07 07</p>
                <p><strong>Email:</strong><br><a href="mailto:omer.ammo11@gmail.com">omer.ammo11@gmail.com</a></p>
            
        
                <p><strong>Address:</strong><br>Dunkehallavagen 78<br>554 47 Jonkoping</p>
        
        </address>
        
