
<footer class="container">
        <div id="main">
    <div class="columns">
        <div class="column col-4 col-md-12">
            <h3>Contact :</h3>
            <address>
                <p><strong>Phone Number:</strong>  07 07 07 07 07 07</p>
                <p><strong>Email:</strong> <a href="mailto:omer.ammo11@gmail.com">omer.ammo11@gmail.com</a></p>
                <p><strong>Address:</strong>Dunkehallavagen 78<br>554 47 Jonkoping</p>
            </address>
        </div>
    </div>
    </div>
</footer>