<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color: #282C34;">
    <div class="center-menu">
        <header>
            <nav id="menu">
                <a href ="/Home">Home</a>
                <a href="/Purchase">Purchase</a>
                <a href="/Budget">Budget</a>
                <a href="/Category">Category</a>
            </nav>
        </header>
    </div>
   
    <a href="/logout" class="logout-button">Logout</a>
    
</body>
  <footer class="center-footer">
        <div class="Contact1">
        <h1>Contact : </h1>
        <address>
            <div class="contact-info">
                <p><strong>Phone Number:</strong><br>07 07 07 07 07 07</p>
                <p><strong>Email:</strong><br><a href="mailto:omer.ammo11@gmail.com">omer.ammo11@gmail.com</a></p>
            </div>
            <div class="address-footer">
                <p><strong>Address:</strong><br>Dunkehallavagen 78<br>554 47 Jonkoping</p>
            </div>
        </address>
    </div>
    </footer>
</html>
