<!DOCTYPE html>
<html>
<head>
    <div class="center-menu">
        <header>
          
            <nav id="menu">
                <a href="/purchase">Purchase</a>
                <a href="/Budget">Budget</a>
                <a href="/Category">Category</a>
             
           
            </nav>
        </header>
    </div>
</head>
<body style="background-color: #282C34;">
</body>
</html>
