<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles-jl.css">
</head>
<body style="background-color: #282C34;">
    <div class="center-menu">
       
         <header>
            <button id="toggle-menu" class="burger-menu">&#9776;</button>
            <nav id="menu">
                 <img id="open-user-modal" src="/img/user profile.png" alt="Your Profile Picture">
                <a href="/Home">Home</a>
                <a href="/Purchase">Purchase</a>
                <a href="/Budget">Budget</a>
                <a href="/Category">Category</a>
                <a href="logout">
                        <span class="logout-link">
                            <img src="/img/icons8-logout-50.png" alt="Logout">
                        </span>
                    </a>
            </nav>
        </header>
    </div>
   
 <script>
    document.addEventListener('DOMContentLoaded', function() {
    const toggleMenuButton = document.getElementById('toggle-menu');
    const menu = document.getElementById('menu');

    toggleMenuButton.addEventListener('click', function() {
        if (menu.style.display === 'block') {
            menu.style.display = 'none';
        } else {
            menu.style.display = 'block';
        }
    });
});

 </script>
    
</body>
  
</html>
