<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My page</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="/css/styles-jl.css">
       <script src="/Script/Message.js"></script>



     
    </head>
    <body>
  {{#if successMessage}}
  <div class="success-messages" id="success-message">{{successMessage}}</div>
{{/if}}
{{#if errorMessage}}
  <div class="errorMessage">
    {{errorMessage}}
  </div>
{{/if}}
{{!-- {{#if errorMessagelogin}}
<div class="errorMessage">
  {{errorMessagelogin}}
</div>
{{/if}} --}}
         {{!-- {{> menu}}  --}}
        {{{body}}}
        {{>footer}}
    </body>
</html>
