<div id="main">
    {{!-- {{> menu}} --}}
    <br>
    <br>
    <div id="about">
        <h1> About us :</h1>
        <br>
        <img src="/img/aboutus.jpg" alt="About Us Image">
        <div class="aboutcontact">
            <p>Welcome to Your Budget App! We are dedicated to helping you <br>
                take control of your finances and manage your expenses effectively.</p>

            <h3>Our Mission</h3>
            <p>Our mission is to provide a simple and user-friendly budgeting tool <br>
                that empowers individuals and families to make informed financial decisions. <br>
                We believe that financial well-being is essential for a stress-free and fulfilling life.</p>

            <h3>Features</h3>
            <ul>
                <li>Track your income and expenses</li>
                <li>Create and manage budget categories</li>
                <li>Add and categorize your purchases</li>
                <li>View detailed reports and insights</li>
                 <a id = "goback" href="/">go back to Home page </a>
            </ul>
        </div>
    </div>
</div>
