
{{!-- <div class="balance">
    <p> Balance: {{balance}}</p>
    
</div> --}}
  <div class="balance">
                {{balance}}
                <button id="add-balance-button" class="balance-button">Add Balance</button>
            </div>

