{{!-- <!DOCTYPE html>
<html>
<head>
    <title>User Balance Example</title>
</head>
<body>
    <h1>User Balance Example</h1>

    <h2>User Balances</h2>
    <ul>
        {{#each users}}
            <li>
                {{this.name}}: ${{this.balance}}
                
            </li>
        {{/each}}
    </ul>

    <h2>Budget</h2>
    <p>Total Budget: ${{budget}}</p>
</body>
</html> --}}
