<div id="main">
    {{> menu}}
    <br>
    <br>
    <div id="about" 
    <div class="container">
        <div class="columns">
            <div class="column col-sm-12 col-md-6">
                <img src="/img/contactus.jpg" id="contact-image" alt="Contact Us Image">
            </div>
            
                <div class="aboutcontact">
                    <h1>Contact:</h1>
                    <address>
                        <div class="contact-info">
                            <p><strong>Phone Number:</strong><br>07 07 07 07 07 07</p>
                            <p><strong>Email:</strong><br><a href="mailto:omer.ammo11@gmail.com">omer.ammo11@gmail.com</a></p>
                        </div>
                        <div class="address-footer">
                            <p><strong>Address:</strong><br>Dunkehallavagen 78<br>554 47 Jonkoping</p>
                        </div>
                    </address>
                </div>
            </div>
        </div>
</div>
</div>
