{{!-- <div id="main">
        {{> menu}}

        {{#each budgets}}
            <div class="budget-item">
                <p>Budget Name: {{budgetName}}</p>
                <p>Amount: {{amount}}</p>
             
                <form  action="/Budget/{{id}}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    
                </form>
            </div>
        {{/each}}

 --}}
