<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My page</title>
        {{!-- <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css"> --}}
        <link rel="stylesheet" href="/css/styles-jl.css">
    </head>
    <body>
      
    </body>
    
     <footer class="center-footer">
        <div class="Contact1">
        <h1>Contact : </h1>
        <address>
            <div class="contact-info">
                <p><strong>Phone Number:</strong><br>07 07 07 07 07 07</p>
                <p><strong>Email:</strong><br><a href="mailto:omer.ammo11@gmail.com">omer.ammo11@gmail.com</a></p>
            </div>
            <div class="address-footer">
                <p><strong>Address:</strong><br>Dunkehallavagen 78<br>554 47 Jonkoping</p>
            </div>
        </address>
    </div>
    </footer> 
</html>
