 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/css/styles-jl.css">
</head>

 <body style="background-color: #282C34;">
 <div id="main">


<div class="container">
        <div class="columns">
            
            
             <div class="column  col-xs-12 col-sm-6 col-lg-3 and col-xs-12 col-sm-6 col-lg-6 middle-container">
    
      
    <div class="whyuusinfo"style="margin-bottom: 20px;">
        <div>
            <h1>Experience a fresh way</h1>
            <h2>to manage money</h2>
            <p>Reach your goals with our</br>
                personalized and custom</br>
                budget application</p>
            <button id="show-login">Log In</button>
            <button id="show-signup">Sign Up</button>
        </div>
    </div>
             </div>
        </div>
   <div class="popup">
    <div class="close-btn" id="close-login">&times;</div>
    <div class="form">
        <h2>Login</h2>
        <form class="form-element" action="/login" method="POST">
            <div class="form-element">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" name="email" placeholder="Enter email">
            </div>
            <div class="form-element">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" placeholder="Enter Password">
            </div>
            <div class="form-element">
                <button>Sign In</button>
            </div>
            <p>Don't have an account? <a href="/">Sign up</a></p>
        </form>
    </div>
</div>

   
    <div class="popup">
    <div class="close-btn" id="close-signup">&times;</div>
    <div class="form">
        <h2>Sign Up</h2>
   <form class="form-element" action="/signup" method="POST">
    <label for="signup-email">Email</label>
    <input type="text" id="signup-email" name="email" placeholder="Enter email" required>

    <div class="form-element">
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" name="username" placeholder="Enter Username" required >
    </div>

    <div class="form-element">
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" name="password" placeholder="Enter Password" required >
    </div>

    <div class="form-element">
        <label for="confirm-password">Confirm your password</label>
        <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" required>
    </div>

    <div class="form-element">
        <button type="submit">Sign Up</button>
    </div>
    <p>Already have an account? <a href="/">Login</a></p>
</form>


    </div>
</div>

        
 <script>
    const loginModal = document.querySelector(".popup");
    const signupModal = document.querySelectorAll(".popup")[1]; 

    document.querySelector("#show-login").addEventListener("click", function () {
        if (!loginModal.classList.contains("active")) {
            loginModal.classList.add("active");
        }
    });

    document.querySelector("#close-login").addEventListener("click", function () {
        if (loginModal.classList.contains("active")) {
            loginModal.classList.remove("active");
        }
    });

    document.querySelector("#show-signup").addEventListener("click", function () {
        if (!signupModal.classList.contains("active")) {
            signupModal.classList.add("active");
        }
    });

    document.querySelector("#close-signup").addEventListener("click", function () {
        if (signupModal.classList.contains("active")) {
            signupModal.classList.remove("active");
        }
    });
</script>


</body>
</html>


