<div id="main">
    <title>Login Modal</title>
    <body style="background-color: #282C34;">
        <div class="popup">
            <div class="close-btn" id="close-signup">&times;</div>
            <div class="form">
                <h2>Sign Up</h2>
                <form class="form-element" action="/signup" method="POST">
                 <label for="signup-email">Email</label>
    <input type="text" id="signup-email" name="email" placeholder="Enter email" required>

    <div class="form-element">
        <label for="signup-username">Username</label>
        <input type="text" id="signup-username" name="username" placeholder="Enter Username" required >
    </div>

    <div class="form-element">
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" name="password" placeholder="Enter Password" required >
    </div>

    <div class="form-element">
        <label for="confirm-password">Confirm your password</label>
        <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" required>
    </div>

    <div class="form-element">
        <button type="submit">Sign Up</button>
    </div>
                    
                    <p>Already have an account? <a href="#" id="show-login">Login</a></p>
                </form>
            </div>
        </div>

 <script>
    const signupModals = document.querySelectorAll(".popup");

    document.querySelector("#show-signup").addEventListener("click", function () {
        signupModals.forEach(function (modal) {
            if (!modal.classList.contains("active")) {
                modal.classList.add("active");
            }
        });
    });

    document.querySelector("#close-signup").addEventListener("click", function () {
        signupModals.forEach(function (modal) {
            if (modal.classList.contains("active")) {
                modal.classList.remove("active");
            }
        });
    });
    document.querySelector("#show-login").addEventListener("click", function () {
    if (!loginModal.classList.contains("active")) {
        loginModal.classList.add("active");
    }
});
</script>


</body>